{{ template "layout" . }}

{{ define "main" }}
<h1>Большие планы, маленькие шажки.</h1>

<p>Итак, сейчас я опишу что тебе нужно сделать в качестве первого задания и общий план обучения.</p>

<p>Что касается задания, то тут всё в целом просто: нужно изучить код в этом репозитории и попытаться понять хоть что-то.
    Затем, нужно будет сверстать html страницу по этому адресу (/bikes/:id). Насколько я помню, мы решили сделать сайт на тему
    мотоциклов. Думаю, сделать что-то простое как <a href="https://nanoreview.net/en/soc/mediatek-dimensity-9400" target="_blank">это</a>.
    Это для начала, потом можно совершенстовать и усложнять. Тебе нужно будет самому придумать корневую страницу.
    Для вёрстки рекомендую использовать <a ahref="https://getbootstrap.com/docs/5.3/getting-started/introduction/">bootstrap</a>.
    На ютюбе полно <a href="https://www.youtube.com/results?search_query=%D0%B1%D1%83%D1%82%D1%81%D1%82%D1%80%D0%B0%D0%BF">обучающих материалов</a> по этой технологии.
    Я не настаиваю на этом выборе, - дело твоё какую технологию использовать, хоть верстай на чистом html/css.
</p>
<p>
    Теперь опишу общий план обучения. Нужно будет освоить широкий спект технологий и инструментов, при этом неглубоко.
    А именно: верстка, администрирование сервера (Линукс), базовые подходы к разработке ПО, версионирование, базы данных, сети,
    http, сетевые протоколы.
    Всё это будем узачать на практике. Первой глобальной целью разумно поставить разработку базовой версии сайта и его запуск.
    Для начала можно будет его запустить на моём сервере, но в дальнейшем, тебе нужно будет освоить базовые навыки администирования сервера
    и запустить свой сервер. На базовом уровне это несложно, я всё объясню. От тебя требуется только желание это всё реализовать и возможность 
    найти свободное время. 
</p>
<p>Я выбрал язык Golang т.к. не нашёл низкоуровних аналогов на других языках. Если будет желание, в дальнейшем можешь переписать на любом другом языке.</p>
<p>Данный код можно смело охаркеровать как говнокод, но у него есть свой большой плюс - простота и наглядность. Мы поэтапно будем
    его улучшать, с разъяснениями с моей стороны почему нужно писать именно так.
</p>


{{ end }}